<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Encuesta de Opinión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("FruitManagement", []);

      //Controller Part
      app.controller("FruitManagementController", function ($scope, $http) {

        //Initialize page with default data which is blank in this example
        $scope.fruits = [];

        $scope.form = {
          id: -1,
          opinion: "",
          sexo: "",
          circuns: "", 
          name: ""
        };

        //Now load the data from server
        _refreshPageData();

        //HTTP POST/PUT methods for add/edit fruits
        $scope.update = function () {
          var method = "";
          var url = "";
          var data = {};
          if ($scope.form.id == -1) {
            //Id is absent so add fruits - POST operation
            method = "POST";
            url = '/api/fruits';
            data.name = $scope.form.name;
            data.opinion = $scope.form.opinion;
            data.sexo = $scope.form.sexo;
            data.circuns = $scope.form.circuns;
          } else {
            //If Id is present, it's edit operation - PUT operation
            method = "PUT";
            url = '/api/fruits/' + $scope.form.id;
            data.name = $scope.form.name;
            data.opinion = $scope.form.opinion;
            data.sexo = $scope.form.sexo;
            data.circuns = $scope.form.circuns;
          }

          $http({
            method: method,
            url: url,
            data: angular.toJson(data),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(_success, _error);
        };

        //HTTP DELETE- delete fruit by id
        $scope.remove = function (fruit) {
          $http({
            method: 'DELETE',
            url: '/api/fruits/' + fruit.id
          }).then(_success, _error);
        };

        //In case of edit fruits, populate form with fruit data
        $scope.edit = function (fruit) {
          $scope.form.name = fruit.name;
          $scope.form.opinion = fruit.opinion;
          $scope.form.sexo = fruit.sexo;
          $scope.form.circuns = fruit.circuns; 
          $scope.form.id = fruit.id;
        };

        /* Private Methods */
        //HTTP GET- get all fruits collection
        function _refreshPageData() {
          $http({
            method: 'GET',
            url: '/api/fruits'
          }).then(function successCallback(response) {
            $scope.fruits = response.data;
          }, function errorCallback(response) {
            console.log(response.statusText);
          });
        }

        function _success(response) {
          _refreshPageData();
          _clearForm()
        }

        function _error(response) {
          console.error(response.statusText);
        }

        //Clear the form
        function _clearForm() {
          $scope.form.name = "";
          $scope.form.opinion = "";
          $scope.form.sexo = "";
          $scope.form.circuns = "";
          $scope.form.id = -1;
        }
      });
    </script>
</head>
<body ng-app="FruitManagement" ng-controller="FruitManagementController">

<div class="container">
    <h1>Encuesta de Opinión - Dirección Gral de Informática</h1>
    <p>
        Por favor completar la encuesta de <em>opinión</em>.
        Sus respuestas nos permiten mejorar nuestros procesos. Muchas gracias.
    </p>

    <div class="row">
        <div class="col-6">
            <h3>Nueva encuesta</h3>
            <form ng-submit="update()">
                <div class="row">
                    <div class="col-6"><input type="text" placeholder="Nombre" ng-model="form.name" size="60"/></div>  
                </div>
                 <div class="row">    
                                    
                      <p>Circunscripción Judicial</p>
                      <div class="radio-toolbar">
			    		<label><input type="radio"   id="circuns" value="1ra"  ng-model="form.circuns">1ra</label>
			    		<label><input type="radio"  id="circuns" value="2da" ng-model="form.circuns">2da</label>
			    		<label><input type="radio"  id="circuns" value="3ra" ng-model="form.circuns">3ra</label>	
			    		<label><input type="radio"  id="circuns" value="4ta" ng-model="form.circuns">4ta</label>	
			    		<label><input type="radio"  id="circuns" value="5ta" ng-model="form.circuns">5ta</label>			    	
		    		  </div>
		    		
                    <p>Género</p>
                    <div class="radio-toolbar">
			    		<label><input type="radio"   id="sexo" value="Masculino"  ng-model="form.sexo">Masculino</label>
			    		<label><input type="radio"  id="sexo" value="Femenino" ng-model="form.sexo">Femenino</label>
			    		<label><input type="radio"  id="sexo" value="No Binario" ng-model="form.sexo">No Binario</label>			    	
		    		</div>
		    		<p>¿Cómo evalúas la atención brindada por esta delegación en el 2021?:</p>
                    <div class="radio-toolbar">
			    		<label><input type="radio"   id="opinion" value="Satisfactoria"  ng-model="form.opinion">Satisfactoria</label>
			    		<label><input type="radio"  id="opinion" value="Algo satisfactoria" ng-model="form.opinion">Algo satisfactoria</label>
			    		<label><input type="radio"  id="opinion" value="Insatisfactoria" ng-model="form.opinion">Insatisfactoria</label>			    	
		    		</div>
                </div>
                <input type="submit" value="Enviar"/>
            </form>
        </div>

        <div class="col-6">
            <h3>Total encuestas</h3>
           
                <div class="col-2">{{ fruits.length }}</div>         
               
          
        </div>

        <div class="col-6">
            <h3>Encuestas</h3>
            <div class="row" ng-repeat="fruit in fruits">
                <div class="col-2">{{ fruit.name }}</div>
               <!--  <div class="col-2">{{ fruit.opinion }}</div>
                <div class="col-2">{{ fruit.sexo }}</div>
                <div class="col-2">{{ fruit.circuns }}</div> -->
                <div class="col-8">
                    <a ng-click="remove( fruit )" class="btn">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
